  // showing default values
$accentColor = #3eaf7c // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596